<% if @link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@link.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag "/links", method: :post do %>
<h1>Create Link</h1>
<p>Slug: <input type="text" name="slug"></p>
<p>Target URL: <input type="text" name="target_url"></p>
<p><input type="submit" value="Submit"></p>
<% end %>